.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.line {
  width: 55px;
  height: 1px;
  background-color: #4e93e6;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  text-transform: capitalize;
}

/*@media screen and (max-width: 780px) {
  .titleWrapper {
    height: 110px;
  }
}*/

@media screen and (max-width: 450px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 361px) {
  .title {
    letter-spacing: 2px;
  }
}

/*@media screen and (max-width: 343px) {
  .title {
    font-size: 30px;
  }
}*/















