.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.line {
  width: 55px;
  height: 1px;
  background-color: #4e93e6;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  text-transform: capitalize;
}

@media screen and (max-width: 780px) {
  .titleWrapper {
    height: 110px;
  }
}
@media screen and (max-width: 343px) {
  .title {
    font-size: 30px;
  }
}















