.slogan {
  height: 270px;
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.sloganButton {
  width: 100px;
  height: 30px;;
}

/*@media (max-width: 600px) {
  .slogan {
    height: 230px;
  }
}*/
