.header {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  opacity: 0.95;
}

.container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
