.contacts {
  padding: 100px 0;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactsForm {
  composes: container;
  width: 500px;
  height: auto;
  margin-top: 30px;
}

.formArea {
  padding: 0 10px;
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  height: 35px;
  color: #a3a3a3;
  background-color: #252527;
  border: 1px solid #4a4a4a;
  outline: none;
  margin-bottom: 20px;
}

.messageArea {
  composes: formArea;
  height: 120px;
  padding: 10px;
}

.contactsButton {
  width: 100px;
  height: 30px;
}

@media screen and (max-width: 630px) {
  .contactsForm {
    width: 100%;
  }
}





