.skillWrapper {
  width: 300px;
  margin: 30px 5px;
  /*border: 1px solid;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skillIconBg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background-color: #3f3f41;
}

.skillIcon {
  font-size: 55px;
  color: #4e93e6;
  transform: rotate(-45deg);
}

.skillDescription {
  width: 100%;
  text-align: center;
}

@media (max-width: 524px) {
  .skillWrapper {
    width: 200px;
  }
}