.skills {
  min-height: 100vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.line {
  width: 55px;
  height: 1px;
  background-color: #4e93e6;
}

.title{
  font-size: 36px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  text-transform: capitalize;
}

.skillsItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


@media (max-width: 780px) {
  .titleWrapper{
    height: 110px;
  }
}














