.skills {
  min-height: 100vh;
  background-color: #ffd376;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  padding: 100px 0;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleWrapper {
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.skillsItems {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title{
  margin: 0;
  margin-bottom: 100px;
}

@media (max-width: 780px) {
  .title{
    margin: 0;
    margin-bottom: 50px;
  }
}














