.main {
  height: 100vh;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
  padding: 90px 0;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid;*/
}

.greetings {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.greetingsName {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-stretch: normal;
  font-size: 45px;
  line-height: 1.2;
  font-family: 'Josefin Sans', sans-serif;  /* montserrat */
  letter-spacing: 5px;
  margin: 10px 0;
}

.greetingsName span:nth-child(2) {
  padding-left: 15px;
  position: relative;
  z-index: 0;
}

.greetings span:nth-child(2):after {
  content: "";
  position: absolute;
  height: 18px;
  background-color: #4e93e6;
  left: 18px;
  bottom: 2px;
  right: 0;
  z-index: -1;
}

h1 {
  font-size: 27px;
  font-weight: normal;
}

.photo {
  margin-top: 30px;
  position: relative;
  z-index: 0;
}

.image {
  width: 300px;
  height: 400px;
  background-color: #e1fffd;
}

.photo .image:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 430px;
  border: 5px solid #4e93e6;
  left: 15px;
  top: -20px;
  z-index: -1;
}

@media screen and (max-width: 1400px) {
  .greetingsName {
    flex-direction: column;
  }

  .greetingsName span:nth-child(2) {
    padding-left: 0;
  }

  .greetings span:nth-child(2):after {
    left: 3px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*  .greetings {
    margin: 20px;
  }

  .greetingsName {
    font-size: 32px;
    font-weight: 600;
  }

  h1 {
    font-size: 22px;
  }

  .image {
    width: 270px;
    height: 360px;
  }

  .greetings span:nth-child(2):after {
    height: 16px;
  }

  .photo .image:before {
    width: 270px;
    height: 390px;
  }*/
}

@media screen and (max-width: 510px) {
  .greetings {
    font-size: 14px;
  }

  .greetingsName {
    font-size: 29px;
  }

  h1 {
    font-size: 19px;
  }

  .image {
    width: 255px;
    height: 340px;
  }

  .greetings span:nth-child(2):after {
    height: 14px;
  }

  .photo .image:before {
    width: 255px;
    height: 370px;
  }
}

@media screen and (max-width: 382px) {
  .greetings span:nth-child(2):after {
    width: 178px;
  }
}

@media screen and (max-width: 333px) {
  .greetingsName span:nth-child(1) {
  font-size: 25px;
    padding-bottom: 5px;
  }
}