.footer
{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 250px;

    background-color: #ff000e;
}

.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    width: 80%;
    height: 80%;
}

.footerIcons
{
    display: flex;
    justify-content: space-between;

    width: 300px;
}

.footerIcon
{
    width: 40px;
    height: 40px;

    border: 1px solid;
}

@media (max-width: 600px)
{
    .footer
    {
        height: 180px;
    }
}

@media (max-width: 390px)
{
    .footerIcons
    {
        width: 250px;
    }
}
