.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: #252527;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 80%;
}

.socialBlock {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 50px;
}

.socialBlock a {
  color: white;
  width: 40px;
}

.socialIcon {
  font-size: 35px;
}

.socialIcon:hover {
  font-size: 45px;
  transition: 0.2s;
}

.copyRight {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 180px;
  }

  .socialIcon {
    font-size: 25px;
  }

  .socialIcon:hover {
    font-size: 35px;
  }

  .socialBlock {
    width: 250px;
  }
}


@media screen and (max-width: 390px) {
  .socialBlock {
    width: 250px;
  }
}
