.projects {
  min-height: 100vh;
  background-color: #ff5edd;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  padding: 100px 0px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleWrapper {
  border: 1px solid;
  display: flex;
  justify-content: center;
}

.projectItems {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}
.title{
  margin: 0px;
  margin-bottom: 100px;
}